body {
    
    overflow-x: hidden;/* Hide horizontal scrollbar */
  }
button#dropdown-fixed-plugin{
    display: none;

}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}
li.active.active-pro {
    display: none;
}
.navbar .navbar-brand {
    font-weight: 400;
    margin: 5px 0px;
    font-size: 20px;
    color: #FFFFFF;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
}
.logo.d-flex.align-items-center.justify-content-start {
    background: #FFFFFF;
}

.main-panel .navbar {
    margin-bottom: 0;
    background: #CA001B !IMPORTANT;
}
.card-stats .icon-big {
    font-size: 2em;
    min-height: 64px;
    color: #CA001B;
}
span.ml-1.score {
    font-size: x-large;
    /* margin-top: 30px; */
}
img.logo-img {
    margin-left: -17px;
}
input.top-bar.form-control {
    height: 50px;
}
div#basic-navbar-nav {
    margin-bottom:-10px;
}
a.m-0.top-icon.nav-link {
    font-size: xx-large;
}
i.nc-icon.nc-stre-down{
    font-size: xx-large;
}
.navbar .nc-icon {
    font-weight: 700;
    margin-top: 0px;
}
.card-statss.card {
    padding: 24px;
    margin-top: -30px;
    margin-left: -15px;
    margin-right: -24px;
}
input.top-bar.dashbooard.form-control {
    background-color: #D8D8D8;
}
.main-panel > .content {
    padding: 24px 12px;
    min-height: calc(100% - 123px);
    background-color: #F4F4F4;
}
.Gray-Content {
    background-color: #F4F4F4;
    padding: 24px;
}
h2.card-head {
    font-size: 16px;
    font-weight: bold;
}
h2.main-head {
    font-weight: bold;
}
.button4 {
    border-radius: 30%;
    padding: 7px 15px;
    background-color: #008578;
}
.main-panel {
    overflow-x: hidden;
}
.sidebar .logo .simple-text, body > .navbar-collapse .logo .simple-text {
   
    margin-bottom: -10px;
}
.card-stats{
    border-radius: 5px;
    height: 200px;
}
.bars{
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
}
.card {
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 32px;
    margin-bottom: 24px;
   
}
.navbar .navbar-toggler {
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    border: none;
    /* color: white; */
}
.recharts-legend-wrapper {
    position: relative;
}
.bg-info {
    background-color: #00A3AD!important;
}
.btn-danger {
    border-color:#CA001B;
    color: #FFFFFF;
    background-color: #CA001B;
    border-radius: 30px 30px;
}
.btn-info {
    border-color:#0085E2;
    color: #FFFFFF;
    background-color: #0085E2;
    border-radius: 30px 30px;
}
.btn-primary{
    border-color: #000099;
    color: #FFFFFF;
    background-color: #000099;
    border-radius: 30px 30px;
}
td:nth-child(4n+2){
    color: #000099;
}
span.textright {
    float: right;
}
button.close.ml-2.mb-1 {
    display: none;
}
strong.me-auto {
    font-size: large;
    color:#000099;
}
span.card-para {
    font-size: x-large;
    color:#000099;
    padding-left: 5px;
    padding-right: 5px;
}
p.card-category.graph {
    color: #000099;
}
.toast-body {
    padding: 1px;
    color: black;
    font-weight: bold;
}
span.card-text {
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}
.toast {
    font-size: medium;
    border: none;
}
.main-panel {
    overflow-x: hidden;
}
h2.card-head {
    font-size: 16px;
    font-weight: bold;
}
.button4 {
    border-radius: 30%;
    padding: 7px 15px;
    background-color: #008578;
}
h2.main-head {
    font-weight: bold;
}
.text{
    margin-top: -5px;
    margin-bottom: 45px;
}
.progress{
    width: 250px;
    margin-left: 20px;
    margin-bottom: 55px;
}
.num{
    margin-left: 20px;
    margin-top: -4px;
}
.size{
    padding: 15px;
}
.number{
    margin-left: 15px;
    margin-top: -35px;
}
.number1{
    margin-bottom: 35px;
}
.graph{
    margin: 30px;
}.top-bar{
    padding-left: 180px;
}
.line{
    padding: 30px;
}

.noti.card-body {
    padding: 0px !important;
}
button.btn {
    width: 110px;
}
td.notf {
    color: black;
    
}
.meeting {
    background-color: #008578;
    margin-top: 24px;
    margin-left: -21%;
    margin-right: -21%;
    margin-bottom: -20%;
    padding: 24px;
    color: #FFFFFF;
}
.progress1{
    margin-bottom: 0px;
}
.card-tasks{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.table-full-width{
    margin-top: -25px;
}
.graph{
    margin-top: -20px;
}
.card{
    margin-left: 10px;
}

